<link rel="stylesheet" href="/css/index.css">

<div class="home-div">
    <h1 class="project-title">
        Online Test Application
    </h1>
    <p class="description">
        A generic concurrent web application for teachers to conduct online tests and for students to take the test
    </p>
    <div class="div-buttons">
        <button class="button rounded-corners" id="button-login">Login</button>
        <button class="button rounded-corners" id="button-register">Register</button>
    </div>
    <script type="text/javascript">
        document.getElementById('button-login').onclick = ()=>{
            location.href = '/login';
        };
         document.getElementById('button-register').onclick = ()=>{
            location.href = '/register';
        };
    </script>
</div>
<script src="/js/index.js"></script>