<link rel="stylesheet" href="/css/members.css">

<button class="close-cv-button">Close CV</button>

<div class="flexx">
    <div class="membs">
        <div>
            <h1 class="heading1">
                Members
            </h1>
            <p class="description">
                click on a name to view CV
            </p>
        </div>
        <div class="membs-table-div">
            <table class="membs-table">
                <thead>
                    <tr>
                        <!-- <th><div class="membs-table-resizable-header">Name</div></th>
                    <th><div class="membs-table-resizable-header">Roll Number</div></th>
                    <th><div class="membs-table-resizable-header">Email Id</div></th> -->
                        <th>Name</th>
                        <th>Roll Number</th>
                        <!-- <th>Email Id</th> -->
                    </tr>
                </thead>
                <tbody class="membs-table-body">

                </tbody>
            </table>
        </div>

    </div>
    <!-- <iframe class="viewer" src="https://drive.google.com/file/d/1iA4zEE4MunVZDVXkAWa6Xb4axuALifXU/preview" allow="autoplay"></iframe> -->
    <iframe class="viewer viewer-hidden" id="viewer"></iframe>
    <div class="loader-div"><div class="loader loader-hidden"></div></div>
</div>

<script src="/js/members.js"></script>