<html>

<head>
	<link rel="stylesheet" href="./stylesheets/style.css">
	<style>
		
		body {
			margin: 0px;
		}

		#app_header {
			background-color: #d6d6f5;
			color: #3333cc;
			height: clamp(45px, 9vh, 55px);
			text-transform: uppercase;
			font-size: 20px;
			letter-spacing: 2px;
			text-align: center;
			padding-top: 15px;
			//padding-bottom:20px;
			font-family: sans-serif;
			border-bottom: 1px solid black;
		}

		#form {
			background-color: #dccae0;
			width: 32%;
			height: 27%;
			padding: 2%;
			padding-left: 7%;
			padding-top: 5%;
			margin-left: 30%;
			margin-top: 1%;
			//align-items:center;
		}

		.row {
			//display:table;
			//background-color:red;
			//border:2px solid black;
			//margin:12px;
			//padding:7px;
			//border-bottom:1px solid black;
		}

		.label {
			float: left;
			width: 40%;
			//background-color:cyan;
			border-right: 1px solid black;
		}

		.input {
			float: right;
			width: 50%;
		}

		input {
			border-radius: 3px;
			border-color: #dccae0;
			z-index: 40;
		}
	</style>
</head>

<body>
	{{!-- <div id="app_header">
		Pariksha-NITC
	</div> --}}
	
	{{!-- Nav Bar --}}
	<nav class="nav-bar">
        <div class="title">
            <h3>Pariksha-NITC</h3>
        </div>
        <div class="nav-links-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/login" class="nav-link">Login</a>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

	<script>
        {{#if taken}}
        alert(`UserID already taken. Try again.`);
        {{/if }}
    </script>
	<div style="letter-spacing:2px;margin-top:2%;font-size:18px;padding-left:30%;margin-bottom:0%;margin-left:1%">
		Registration Form</div>
	<div id="form">
		<form action="/register" method="post" id="user_form">
			<div class="row">
				<div class="label">UserID:</div>
				<div class="input"><input type="text" name="uid" placeholder="Enter a UserID" required></div><br><br>
			</div>
			<div class="row">
				<div class="label">Name:</div>
				<div class="input"><input type="text" name="name" placeholder="Enter your name" required></div><br><br>
			</div>
			<div class="row">
				<div class="label">Password:</div>
				<div class="input" id="pwdp"><input type="password" id="pwd" name="pwd" placeholder="Create your password" required></div><br><br>
			</div>
			<div class="row">
				<div class="label">Confirm Password:</div>
				<div class="input" id="cpwdp"><input type="password" id="cpwd" placeholder="Re-enter your password" required></div><br><br>
			</div>
			<div style="padding-left:35%;padding-top:0%;">
				<select name="role" style="border-radius:5px;">
					<option value="student">Student</option>
					<option value="teacher">Teacher</option>
					<option value="ta">TA</option>
				</select>
				
			</div>
		</form>
		<button style="border-radius:20px;cursor:pointer;margin-left:35%;" onclick="validate();">Submit</button>
	</div>
	<script>
		function validate()
		{
			pwd=document.getElementById("pwd").value;
			cpwd=document.getElementById("cpwd").value;
			if (pwd === cpwd)
			{	
				document.getElementById("user_form").submit();
			}
			else
			{
				alert("Password and confirm password not matching");
				pwdp = document.getElementById("pwdp");
				cpwdp = document.getElementById("cpwdp");
				pwdp.innerHTML='<input type="password" id="pwd" name="pwd" placeholder="Create your password" required>';
				cpwdp.innerHTML='<input type="password" id="cpwd" placeholder="Re-enter your password" required>';
				return false;
			}
		}
	</script>
</body>