<link rel="stylesheet" href="/css/resources.css">

<div class="flexx">
    <div class="container">
        <h1 class="heading1">
            Coming soon...
        </h1>
        <p class="description">
            website under active development
        </p>
    </div>
    <div class="person-digging-icon">            
        <i class="fa-solid fa-person-digging"></i>
    </div>
</div>
<script src="/js/index.js"></script>