<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/togglePanel.js"></script>
	<link rel="stylesheet" href="/css/teacherHome.css">
</head>

<body>
	<nav class="nav-bar">
        <div class="title">
            <h3>Pariksha-NITC</h3>
        </div>
        <div class="nav-links-container">
            <a href="/" class="nav-link">Home</a>
            <a href="/logout" class="nav-link">Logout</a>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
	<div id="addQn_area">
		<form action="/teacher/createQuiz" method="post">
			<input type="submit" value="createQuiz" style="cursor:pointer;justify-content:right;height:5vh; width:20vh;font-weight:bold;float: right;margin-right: 1%">
		</form>
	</div>
	<div id="QuizList">
	<table>
		<tr>
			<th><b>Quiz Title</b></th>
			<th><b>Quiz Code</b></th>
		</tr>
	{{#each quizArray}}
		<tr>
			<td><b>{{quizname}}</b></td>
			<td><b>{{quizid}}</b></td>
			<td><form action="/teacher/makeQuestions" method="post" style="display:inline">
				<input type="hidden" name="qzid" value="{{quizid}}">
				<div class="submit" style="padding:4%;margin-left:0%">
					<input type="Submit" value="Update">
				</div>
			</form></td>
			<td>
				<button onclick="location.href='/teacher/evaluatequestions?quizid={{quizid}}'" style="display:inline">Evaluate</button>
			</td>
		</tr>
	{{/each}}
	</ul>
	</div> 
</body>

</html>