.contacts-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    width: 100%;
	height: 100%;
}

.contacts-table-div {
	overflow: scroll;
	min-height: 65vh;
}

.contacts-table {
    width: 90%;
	/* min-width: 45rem; */
    border: 1px solid black;
    margin: 5%;
    border-collapse: collapse;
	
}


.contacts-table th, td {
    text-align: left;
    border: 1px dotted black;
	min-width: 20rem;
    padding: 2%;
	text-overflow: ellipsis;
	overflow: hidden;
	/* white-space: nowrap; */
}

.contacts-table th {
	overflow-x: hidden;
	resize: horizontal;
}

.heading1{
	top: 0;
    font-size: 60px;
    margin-left: 5%;
	margin-top: 5%;
	font-family: "Nunito";
}