.home-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    width: 100%;
	height: 100%;
    padding: 5%;
}

.project-title{
    font-size: 60px;
    margin-left: 15px;
	font-family: "Nunito";
}

.description{
    font-size: 30px;
    margin-left: 15px;
}

.button{
    background-color: rgb(196, 65, 196);
    color: aliceblue;
    margin-left: 15px;
    border: none;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    width: 15%;
    min-width: 150px; 
    font-weight: bold;
    height: 75%;
    max-height: 8vh;
    cursor: pointer;
}

#button-register{
    background-color: rgb(77, 38, 114);
}

.div-buttons{
    align-items: center;
    height: 150px;
    display: flex;
}