body {
    margin: 0px;
}

#right_panel {
    display: inline;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    width: 20.4%;
    float: right;
    height: 74%;
    z-index: 2;
    /*align-content:center;*/
}

#questions_panel {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 8%;
    row-gap: 2%;
    z-index: 3;
    margin-top: 8px;
    padding: 5px;
    padding-bottom: 10%;
    overflow: auto;
    /*background-color:white;
    align-content:center;
    height:30%;
    border-bottom:2px solid black;*/
}

.qn_button {
    background-color: #e9e9e9;
    border: 1px solid grey;
    padding: 15px;
    margin: 4px;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
    height: 85%;
    width: 85%;
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgrey;
    /*flex: 0 1 21%;*/
}

.qn_button:hover {
    font-size: 17px;
    margin: 0px;
    box-shadow: 7px 7px 5px lightgrey;
    /*transition-duration:0.05s;
    background-color:#f1f1e7;*/
}

#navbar {
    display: flex;
    flex-direction: row-reverse;
    background-color: #d6d6ef;
    border-bottom: 1px solid black;
    background-color: #dccae0;
    height: clamp(55px, 10vh, 55px);
    /*border-top:0px;
    top: 0;
    position: sticky;*/
}

.navbar_items {
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #3333cc;
    color: #3333cc;
    cursor: pointer;
}

.navbar_items:hover {
    background-color: #3333cc;
    font-size: 16px;
    color: white;
}

.titlebar_items {
    margin-right: 15px;
    margin-bottom: 2px;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #3333cc;
    color: #3333cc;
    cursor: pointer;
}

.titlebar_items:hover {
    background-color: #3333cc;
    font-size: 12px;
    color: white;
}

#app_header {
    background-color: #d6d6f5;
    color: #3333cc;
    height: clamp(45px, 9vh, 55px);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 15px;
    font-family: sans-serif;
    /*border-bottom: 1px solid black;
    padding-bottom:20px;*/
}

#details {
    background: rgba(175, 50, 80, 0.2);
    color: black;
    height: clamp(35px, 8vh, 35px);
    font-size: 17px;
    padding-top: 15px;
    padding-left: 3%;
    margin: 0px;
    font-family: sans-serif;
}

#main_area {
    height: 75%;
    width: 79.25%;
    float: left;
    z-index: 1;
    /*margin-bottom:5%;
    padding:10px;
    border-bottom: 5px solid black;
    background-color:#ffffed;*/

}

#question_type_area {
    padding: 10px;
    border-bottom: 1px solid black;

}

#question_description {
    padding: 1%;
    word-wrap: break-word;
    height: 35%;
    width: 78%;
    float: left;
    height: 48%;
    overflow: auto;
    /*margin:15%;
    margin-top:50%;
    padding-right:25%
    border:2px solid black;*/
    
}

#time_panel {
    text-align: center;
    border-bottom: 2px solid black;
    /*border: 2px solid black;*/
}

#action_area {
    padding: 10px;
    display: flex;
    border-top: 2px solid black;
    float: down;
    gap: 10px;
    z-index: 1;
    border-bottom: 2px solid black;
    /*margin-top:1%;
    width:77.85%;
    position:static;
    justify-content:left;*/
}

#action_items {}

#response_panel {
    clear: both;
    /*margin-top:21.5%;*/
    margin-bottom: 0%;
    padding: 0.5%;
    background-color: #dccae0;
    height: 28%;
    z-index: 1;
    width: 99%;
}

#Marks_section {
    padding: 1%;
    float: right;
    text-align: center;
    height: 41%;
    z-index: 2;
    width: 18%;
    margin-top: 1.2%;
    background-color: rgba(0, 120, 120, 0.1);
}

.student-info {
    margin: 10px;
    padding: 5px;
    margin-left: 0px;
    border-radius: 25px;
    border: 1px solid #3333cc;
    color: #3333cc;
}